<div class="d-inline-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <% @friends.each do |friend| %>
    <div class="card card-header mb-3 col-12 col-md-9">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <div><strong>Name: </strong> <%= friend.full_name %></div>
          <div><strong>Email: </strong> <%= friend.email %></div>
          <div><strong>Profile: </strong> <%= link_to "View profile", "#" %> </div>
        </div>
        <div>
          <% if current_user.not_friends_with?(friend.id) %>
            <%= link_to "Follow friend?", friendships_path(friend: friend), class: "btn btn-sm btn-success", method: :post %>
          <% else %>
            <span class="badge badge-secondary">
              You are already friends.
            </span>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>